
#player{
    width: 400px;
    text-align: center;
    background-color: gray;
    margin: auto;
}

#lcd{
    background-color: green;
    height: 42px;
    width: 200px;
    margin: auto;
}

#cancion{
    display: none
}